@import "fonts.css";

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  font-style: normal;
}

.container {
  width: 90%;
  margin: 0 auto;
}

h2 {
  text-align: center;
  font-weight: 500;
  font-size: 40px;
}

/*section header*/

.start {
  background-image: url("../images/trip-house.svg");
  background-position: top center;
  height: 100vh;
}

.header-site {
  display: flex;
  justify-content: space-between;
  padding-top: 51px;
  margin-bottom: 196px;
  align-items: center;
  color: #ffffff;
}

.header-site-navigation {
  display: flex;
  align-items: center;
  font-size: 24px;
}

.nav-item-1 {
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-decoration-color: #F5BD41;
  text-underline-offset: 12px;
}

.nav-item-2 {
  margin-left: 24px;
}

.nav-day-night {
  margin-left: 48px;
}

.nav_account_circle {
  margin-left: 24px;
}

h1 {
  margin: 0;
  font-weight: 500;
  font-size: 50px;
  color: #ffffff;
}

.h1-block {
  margin: 202px 0 100px;
}

.page-labels {
  margin-bottom: 24px;
  font-size: 18px;
  color: #ffffff;
}

.label-destination {
  margin-left: 2%;
}

.label-date {
  margin-left: 25%;
}

form {
  display: flex;
  height: 64px;
  width: 100%;
  margin-bottom: 120px;
  border: none;
  border-radius: 8px;
  background: #ffffff;
}

input {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #383838;
}

.destination {
  width: 38%;
  padding-left: 2%;
  border-radius: 8px;
  border: none;
}

.date {
  text-align: center;
  width: 21%;
  border-radius: 8px;
  border-width: 3px;
  border-color: #f5bd41;
}

.rooms {
  text-align: center;
  width: 25%;
  border-radius: 8px;
  border: none;
}

.search {
  width: 16%;
  border-radius: 8px;
  border: none;
  background: #3077c6;
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
}

.apps {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
}

.google-play {
  margin-right: 17px;
}

/*section offers*/

.content-offers {
  padding: 0;
  margin-bottom: 122px;
}

.title-offers {
  margin: 120px 0 0;
  padding-bottom: 10px;
}

hr.line-offers {
  border: 0;
  width: 100px;
  height: 4px;
  margin-top: 10px;
  margin-bottom: 89px;
  background: #f5bd41;
}

.row-offers {
  display: flex;
  margin-bottom: 40px;
}

.item-offers {
  width: 25%;
}

.wrap-offers {
  display: inline-flex;
  margin-bottom: 48px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}

.text-offers {
  text-align: center;
  font-size: 24px;
}

/*section footer*/

.info {
  background: #10367c;
  padding: 120px 0;
}

.container-info {
  margin: 0 auto 64px;
  display: flex;
  flex-wrap: wrap;
}

.content-info {
  list-style: none;
  width: 33%;
}

ul.content-info {
  padding-left: 0;
}

li.head-item-info,
.item-info {
  margin-bottom: 23px;
}

.head-item-info {
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
}

.item-info {
  font-size: 20px;
  color: #ffffff;
}

.footer {
  padding: 0;
  margin-top: 64px;
  font-size: 14px;
  color: #ffffff;
}
